.card .scroll {
    width: 580px;
    height: 400px;
    background: #000;
    /* transition: ease-in-out 8s; */
}

.card .scroll .scroll1 {
    background: url(../../assets/IMG-20230131-WA0002.jpg);
    background-size: cover;

}