.card .scroll {
    width: 580px;
    height: 400px;
    background: #000;
    background-position: top;
    transition: ease-in-out 8s;
}

.card .scroll .scroll-1 {
    background: url('../../assets/Image/project-2\ \(3\).png');
    background-size: cover;

}